<!--
 * @file about.ejs
 * @author Samuel
 * @date 10/07/2025
 * @brief Page À propos de l'application
 -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout"></main>
    <%- include('../partials/footer') %>
  </body>
</html>
