<!--
 * @file contact.ejs
 * @author Samuel
 * @date 10/07/2025
 * @brief Page de contact avec formulaire de saisie
 -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/contact-form') %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
