<!--
 * @file index.ejs
 * @author Samuel
 * @date 10/07/2025
 * @brief Page principale affichant la liste des items et les formulaires de gestion
 -->

<!DOCTYPE html>

<html lang="fr">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/item-list') %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/item-refresh.js"></script>
  </body>
</html>
